# Test 2 - Data preparation

The following work illustrates preparing well log data so it can be ready to be analysed, including cleaning bad data, TVD calculation, seafloor extrapolation, and well log normalization. After that, coal determination can be conducted due to clear distinction on well log.

## Task list
* Pick well to analyze based on availability data
* Cleaning data
* Log normalization
* TVD calculation
* Seafloor extrapolation
* Predict missing density log (?)

In [1]:
import pandas as pd
import numpy as np
import matplotlib
from matplotlib import pyplot as plt

In [2]:
data = pd.read_csv("FORCE 2020 lithofacies prediction from well logs competition/CSV_train.csv", sep=';')
data.rename(columns = {'Z_LOC':'DEPTH'}, inplace = True)
data.describe()

,DEPTH_MD,X_LOC,Y_LOC,DEPTH,CALI,RSHA,RMED,RDEP,RHOB,GR,...,ROP,DTS,DCAL,DRHO,MUDWEIGHT,RMIC,ROPA,RXO,FORCE_2020_LITHOFACIES_LITHOLOGY,FORCE_2020_LITHOFACIES_CONFIDENCE
count,1.170511e+06,1.159736e+06,1.159736e+06,1.159736e+06,1.082634e+06,630650.000000,1.131518e+06,1.159496e+06,1.009242e+06,1.170511e+06,...,535071.000000,174613.000000,298833.000000,987857.000000,316151.000000,176160.000000,192325.000000,327427.000000,1.170511e+06,1.170332e+06
mean,2.184087e+03,4.856310e+05,6.681276e+06,-2.138527e+03,1.318568e+01,10.694664,4.986978e+00,1.069103e+01,2.284987e+00,7.091370e+01,...,137.367965,204.655019,1.223849,0.012196,1.216329,7.796809,23.505069,-95.779496,6.138598e+04,1.164258e+00
std,9.971821e+02,3.455641e+04,1.281524e+05,9.709426e+02,3.798907e+00,100.642597,5.467269e+01,1.139480e+02,2.532835e-01,3.423149e+01,...,1539.383558,71.068461,54.372859,7.477798,10.180834,89.741807,22.632800,348.980030,1.389170e+04,4.451180e-01
min,1.360860e+02,4.268988e+05,6.406641e+06,-5.395563e+03,2.344000e+00,0.000100,-8.418695e-03,3.170056e-02,7.209712e-01,1.092843e-01,...,-0.117977,69.163177,-12.215459,-7429.338867,0.125818,0.056586,-999.250122,-999.900024,3.000000e+04,1.000000e+00
25%,1.418597e+03,4.547996e+05,6.591327e+06,-2.811502e+03,9.429712e+00,0.854120,9.140862e-01,9.102396e-01,2.092203e+00,4.762722e+01,...,5.628000,155.936707,0.148438,-0.009253,0.143792,0.891272,11.281895,0.687681,6.500000e+04,1.000000e+00
50%,2.076605e+03,4.769203e+05,6.737311e+06,-2.042785e+03,1.255575e+01,1.399020,1.443584e+00,1.439000e+00,2.321228e+00,6.836763e+01,...,17.799999,188.200653,0.557320,0.001752,0.155774,1.967156,20.131153,1.366672,6.500000e+04,1.000000e+00
75%,2.864393e+03,5.201532e+05,6.784886e+06,-1.391866e+03,1.671075e+01,3.099348,2.680930e+00,2.557220e+00,2.488580e+00,8.903551e+01,...,34.812794,224.645081,1.299655,0.021702,1.168307,5.084564,31.138481,3.420790,6.500000e+04,1.000000e+00
max,5.436632e+03,5.726328e+05,6.856661e+06,-1.110860e+02,2.827900e+01,2193.904541,1.988616e+03,1.999887e+03,3.457820e+00,1.076964e+03,...,47015.125000,676.578125,10011.422852,2.836938,185.730927,10000.000000,742.797852,35930.671875,9.900000e+04,3.000000e+00

In [3]:
data.columns

Index(['WELL', 'DEPTH_MD', 'X_LOC', 'Y_LOC', 'DEPTH', 'GROUP', 'FORMATION',
       'CALI', 'RSHA', 'RMED', 'RDEP', 'RHOB', 'GR', 'SGR', 'NPHI', 'PEF',
       'DTC', 'SP', 'BS', 'ROP', 'DTS', 'DCAL', 'DRHO', 'MUDWEIGHT', 'RMIC',
       'ROPA', 'RXO', 'FORCE_2020_LITHOFACIES_LITHOLOGY',
       'FORCE_2020_LITHOFACIES_CONFIDENCE'],
      dtype='object')

In [5]:
data['FORCE_2020_LITHOFACIES_LITHOLOGY'].nunique()

12

In [6]:
data.rename(columns = {'FORCE_2020_LITHOFACIES_LITHOLOGY':'LITHOLOGY'}, inplace = True)

In [7]:
well = data[['WELL','DEPTH','CALI','RSHA','RMED','RDEP','RXO','GR','NPHI','PEF','RHOB','SP','BS','DRHO','DTC','DTS', 'LITHOLOGY']]

In [8]:
well_input = well[well['WELL'].isin(['33/9-17', '35/11-11', '31/2-19 S','35/12-1', '25/2-7', '25/4-5', '15/9-15', '16/4-1'])]
well_input.to_csv('wellinputspecproject.csv')

In [1]:
well[well['WELL']=='15/9-17'].describe()

NameError: name 'well' is not defined

## Pick well

In [3]:
#well_datacount=well.groupby('WELL').agg(lambda x:x.count())
well_datacount=well.groupby(['WELL'], as_index = False)
well_datacount['DTS'].count()

        WELL   DTS
0    15/9-13     0
1    15/9-15     0
2    15/9-17     0
3     16/1-2     0
4   16/1-6 A     0
..       ...   ...
93    35/9-5  4942
94  35/9-6 S     0
95    36/7-3     0
96     7/1-1     0
97   7/1-2 S  1613

[98 rows x 2 columns]

In [94]:
#More research about groupby Dataframes

well_datacount.head() #Check data
well_datacount['WELL'].unique() #Show well names in an array
well_datacount.nunique() #Show how many unique values are in each well & each column
well_datacount.size() #Show how many row data on each well
well_datacount.get_group('7/1-1').index #Show the location data of a whole well, in this case Well 7/1-1

,WELL,DEPTH,CALI,RSHA,RMED,RDEP,RXO,GR,NPHI,PEF,RHOB,SP,BS,DRHO,DTC,DTS
0,15/9-13,494.5280,19.480835,NaN,1.611410,1.798681,NaN,80.200851,NaN,20.915468,1.884186,24.612379,NaN,-0.574928,161.131180,NaN
1,15/9-13,494.6800,19.468800,NaN,1.618070,1.795641,NaN,79.262886,NaN,19.383013,1.889794,23.895531,NaN,-0.570188,160.603470,NaN
2,15/9-13,494.8320,19.468800,NaN,1.626459,1.800733,NaN,74.821999,NaN,22.591518,1.896523,23.916357,NaN,-0.574245,160.173615,NaN
3,15/9-13,494.9840,19.459282,NaN,1.621594,1.801517,NaN,72.878922,NaN,32.191910,1.891913,23.793688,NaN,-0.586315,160.149429,NaN
4,15/9-13,495.1360,19.453100,NaN,1.602679,1.795299,NaN,71.729141,NaN,38.495632,1.880034,24.104078,NaN,-0.597914,160.128342,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1168471,7/1-2 S,2859.9924,8.728068,1.158282,1.141734,1.240302,NaN,257.011993,NaN,NaN,NaN,NaN,12.250001,NaN,NaN,NaN
1168472,7/1-2 S,2860.1444,8.741534,1.122814,1.122354,1.229349,NaN,252.575577,NaN,NaN,NaN,NaN,12.250001,NaN,NaN,NaN
1168473,7/1-2 S,2860.2964,8.739483,1.204416,1.208588,1.246152,NaN,263.705017,NaN,NaN,NaN,NaN,12.250001,NaN,NaN,NaN
1168474,7/1-2 S,2860.4484,8.739040,1.213172,1.226264,1.235385,NaN,272.152985,NaN,NaN,NaN,NaN,12.250001,NaN,NaN,NaN
1168475,7/1-2 S,2860.6004,8.744128,1.008474,1.013111,1.140845,NaN,270.512115,NaN,NaN,NaN,NaN,12.250001,NaN,NaN,NaN

In [5]:
#Filter well that does not have DTS log
well_nodts = well_datacount.filter(lambda x:x['DTS'].count()==0).groupby(['WELL'])
print("Wells that doesn't have DTS log: ", len(well_nodts['WELL'].count()))

#Filter well that has DTS log
well_dts = well_datacount.filter(lambda x:x['DTS'].count()!=0).groupby(['WELL'])
print("Wells that have DTS log: ", len(well_dts['WELL'].count()))

Wells that doesn't have DTS log:  66
Wells that have DTS log:  32

In [6]:
well_bs = well_datacount.filter(lambda x:x['BS'].count()!=0).groupby(['WELL'])
print("Wells that have BS log: ", len(well_bs['WELL'].count()))

well_nobs = well_datacount.filter(lambda x:x['BS'].count()==0).groupby(['WELL'])
print("Wells that doesn't have BS log: ", len(well_nobs['WELL'].count()))
list(well_nobs['WELL'].unique())

well_cali = well_datacount.filter(lambda x:x['CALI'].count()!=0).groupby(['WELL'])
print("Wells that have CALI log: ", len(well_cali['WELL'].count()))

well_bscali = well_bs.filter(lambda x:x['CALI'].count()!=0).groupby(['WELL'])
print("Wells that have BS and CALI log: ", len(well_bscali['WELL'].count()))
list(well_bscali['WELL'].unique())

well_ready = well_bscali.filter(lambda x:x['DTS'].count()!=0).groupby(['WELL'])
print("Wells that can be used: ", len(well_ready['WELL'].count()))
list(well_ready['WELL'].unique())

well_potential = well_bscali.filter(lambda x:x['DTS'].count()==0).groupby(['WELL'])
print("Wells that can be used but no DTS: ", len(well_potential['WELL'].count()))
list(well_potential['WELL'].unique())

Wells that have BS log:  69
Wells that doesn't have BS log:  29
Wells that have CALI log:  97
Wells that have BS and CALI log:  68
Wells that can be used:  30
Wells that can be used but no DTS:  38

[array(['15/9-15'], dtype=object),
 array(['16/1-2'], dtype=object),
 array(['16/1-6 A'], dtype=object),
 array(['16/10-1'], dtype=object),
 array(['16/10-2'], dtype=object),
 array(['16/11-1 ST3'], dtype=object),
 array(['16/4-1'], dtype=object),
 array(['16/7-4'], dtype=object),
 array(['25/11-15'], dtype=object),
 array(['25/11-5'], dtype=object),
 array(['25/2-13 T4'], dtype=object),
 array(['25/2-14'], dtype=object),
 array(['25/2-7'], dtype=object),
 array(['25/3-1'], dtype=object),
 array(['25/4-5'], dtype=object),
 array(['25/5-4'], dtype=object),
 array(['25/6-1'], dtype=object),
 array(['25/6-2'], dtype=object),
 array(['25/7-2'], dtype=object),
 array(['25/8-7'], dtype=object),
 array(['25/9-1'], dtype=object),
 array(['26/4-1'], dtype=object),
 array(['31/2-1'], dtype=object),
 array(['31/3-1'], dtype=object),
 array(['31/3-2'], dtype=object),
 array(['31/3-3'], dtype=object),
 array(['31/6-5'], dtype=object),
 array(['31/6-8'], dtype=object),
 array(['33/5-2'], dtype=object),
 array(['33/9-1'], dtype=object),
 array(['33/9-17'], dtype=object),
 array(['34/10-33'], dtype=object),
 array(['34/7-13'], dtype=object),
 array(['34/8-1'], dtype=object),
 array(['34/8-7 R'], dtype=object),
 array(['35/11-7'], dtype=object),
 array(['35/12-1'], dtype=object),
 array(['7/1-1'], dtype=object)]

Based on log availabilities on each well and its coverage (such as BS, CALI, NPHI, RHOB, DTC, and DTS), all 98 wells can be categorized into 3 types:
* Green category (19 wells) --> Have complete logs, great coverage in the well
* Yellow category (40 wells) --> Doesn't have complete logs (DTS, PEF) or poor coverage in the well (NPHI, Sonic), but can still be a backup for lithology interpretation through petrophysics, can also be used as training set
* Red category (39 wells) --> Doesn't have BS-CALI logs, poor NPHI-RHOB coverages, unable to perform petrophysical analysis, can only be used as training set

As core data is less commonly available than well logs, only 13 wells has a por-perm core data with most of them are from yellow and red category.

*More detail about picking the wells might be continued and reorganized later with well data availability plot and well table from Google Sheet.*

## Cleaning data

In [3]:
well.describe()

,DEPTH,CALI,RSHA,RMED,RDEP,RXO,GR,NPHI,PEF,RHOB,SP,BS,DRHO,DTC,DTS
count,1.170511e+06,1.082634e+06,630650.000000,1.131518e+06,1.159496e+06,327427.000000,1.170511e+06,765409.000000,671692.000000,1.009242e+06,864247.000000,682657.000000,987857.000000,1.089648e+06,174613.000000
mean,2.184087e+03,1.318568e+01,10.694664,4.986978e+00,1.069103e+01,-95.779496,7.091370e+01,0.331966,6.319719,2.284987e+00,60.033980,11.931432,0.012196,1.133581e+02,204.655019
std,9.971821e+02,3.798907e+00,100.642597,5.467269e+01,1.139480e+02,348.980030,3.423149e+01,0.130483,10.955360,2.532835e-01,76.574359,3.330242,7.477798,2.999050e+01,71.068461
min,1.360860e+02,2.344000e+00,0.000100,-8.418695e-03,3.170056e-02,-999.900024,1.092843e-01,-0.035822,0.099718,7.209712e-01,-999.000000,6.000000,-7429.338867,7.415132e+00,69.163177
25%,1.418597e+03,9.429712e+00,0.854120,9.140862e-01,9.102396e-01,0.687681,4.762722e+01,0.241365,3.414440,2.092203e+00,32.402981,8.500000,-0.009253,8.782584e+01,155.936707
50%,2.076605e+03,1.255575e+01,1.399020,1.443584e+00,1.439000e+00,1.366672,6.836763e+01,0.326800,4.313530,2.321228e+00,55.390942,12.250001,0.001752,1.095852e+02,188.200653
75%,2.864393e+03,1.671075e+01,3.099348,2.680930e+00,2.557220e+00,3.420790,8.903551e+01,0.422951,5.968794,2.488580e+00,83.393299,12.250001,0.021702,1.407745e+02,224.645081
max,5.436632e+03,2.827900e+01,2193.904541,1.988616e+03,1.999887e+03,35930.671875,1.076964e+03,0.999570,383.129974,3.457820e+00,526.547302,26.000002,2.836938,3.204789e+02,676.578125

### Resistivity log

In [4]:
#Filter RXO (should be in range 0-2000)
well.drop(well[(well['RXO'] > 2000)|(well['RXO'] < 0)].index, inplace=True)

#Filter RMED (should be in range 0-2000)
well.drop(well[(well['RMED'] < 0)].index, inplace=True)

#Filter RDEP (should be in range 0-2000)
well.drop(well[(well['RDEP'] < 0)].index, inplace=True)

C:\Users\V330\AppData\Local\Temp\ipykernel_19304\946483472.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  well.drop(well[(well['RXO'] > 2000)|(well['RXO'] < 0)].index, inplace=True)
C:\Users\V330\AppData\Local\Temp\ipykernel_19304\946483472.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  well.drop(well[(well['RMED'] < 0)].index, inplace=True)
C:\Users\V330\AppData\Local\Temp\ipykernel_19304\946483472.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  well.drop(well[(well['RDEP'] < 0)].index, inplace=True)

In [5]:
well.describe()

,DEPTH,CALI,RSHA,RMED,RDEP,RXO,GR,NPHI,PEF,RHOB,SP,BS,DRHO,DTC,DTS
count,1.135874e+06,1.048081e+06,625497.000000,1.096912e+06,1.124873e+06,292797.000000,1.135874e+06,757279.000000,637187.000000,974804.000000,829629.000000,666198.000000,953423.000000,1.055021e+06,174612.000000
mean,2.180040e+03,1.313926e+01,10.479709,5.042702e+00,1.089901e+01,9.728669,7.075844e+01,0.333146,6.322318,2.285095,61.607047,11.892924,0.012057,1.133007e+02,204.655516
std,9.934684e+02,3.797780e+00,98.907708,5.551177e+01,1.155919e+02,95.309516,3.449836e+01,0.130168,11.164495,0.253094,75.520441,3.328053,7.611633,2.995230e+01,71.068361
min,1.360860e+02,2.344000e+00,0.000100,3.990377e-02,3.170056e-02,0.002298,1.092843e-01,-0.035822,0.099718,0.720971,-999.000000,6.000000,-7429.338867,7.415132e+00,69.163177
25%,1.416311e+03,9.374846e+00,0.855568,9.158213e-01,9.124687e-01,0.870567,4.730949e+01,0.243197,3.401787,2.093823,33.853458,8.500000,-0.009540,8.785166e+01,155.936787
50%,2.074336e+03,1.253965e+01,1.405724,1.452153e+00,1.437460e+00,1.574212,6.813677e+01,0.328081,4.291945,2.321909,55.834679,12.250001,0.001525,1.094258e+02,188.201027
75%,2.865187e+03,1.637324e+01,3.125447,2.679512e+00,2.554810e+00,4.039199,8.858973e+01,0.423909,5.925502,2.488597,84.735519,12.250001,0.021392,1.407531e+02,224.645546
max,5.436632e+03,2.827900e+01,2193.904541,1.988616e+03,1.999887e+03,2000.000000,1.076964e+03,0.999570,383.129974,3.457820,526.547302,26.000002,2.836938,3.204789e+02,676.578125

### DRHO

In [64]:
well['DRHO'].quantile(0.005)

-0.40624813630000006

In [65]:
drhooutlier = well[(well['DRHO'] < -0.4)]
drhooutlier['WELL'].unique()
#drhooutlier[drhooutlier['WELL']=='15/9-13']

array(['15/9-13', '15/9-17', '16/10-1', '16/10-2', '16/10-3', '16/7-5',
       '25/3-1', '25/4-5', '25/5-1', '25/8-5 S', '25/9-1', '30/3-5 S',
       '30/6-5', '31/2-9', '31/3-1', '31/3-3', '31/4-5', '31/6-5',
       '33/5-2', '33/6-3 S', '33/9-17', '34/10-21', '34/10-35', '34/2-4',
       '34/7-20', '34/7-21', '34/8-1', '34/8-3', '35/11-1', '35/11-6',
       '35/11-7', '35/8-4'], dtype=object)

In [67]:
drhooutlier[drhooutlier['WELL']=='15/9-17']

,WELL,DEPTH,CALI,RSHA,RMED,RDEP,RXO,GR,NPHI,PEF,RHOB,SP,BS,DRHO,DTC,DTS
35987,15/9-17,472.429998,19.241486,NaN,1.902191,1.932372,NaN,78.812988,NaN,NaN,2.142719,1.860228,NaN,-0.530502,162.764771,NaN
35988,15/9-17,472.581998,19.198761,NaN,1.863542,1.919194,NaN,78.271599,NaN,275.688873,2.133352,2.232189,NaN,-0.543880,163.165253,NaN
35989,15/9-17,472.733998,19.175301,NaN,1.845743,1.921902,NaN,79.380615,NaN,162.921219,2.145218,1.241609,NaN,-0.547403,163.225006,NaN
35990,15/9-17,472.885998,19.178040,NaN,1.795807,1.922999,NaN,80.989418,NaN,40.905296,2.197313,0.642905,NaN,-0.547871,163.141357,NaN
35991,15/9-17,473.037998,19.171900,NaN,1.735457,1.916189,NaN,80.969376,NaN,32.873501,2.325277,1.467502,NaN,-0.549800,163.234329,NaN
35992,15/9-17,473.189998,19.162523,NaN,1.716966,1.918546,NaN,79.811470,NaN,28.391899,2.413698,1.136028,NaN,-0.584724,163.407501,NaN
35993,15/9-17,473.341998,19.156300,NaN,1.735299,1.923234,NaN,79.138283,NaN,29.591883,2.506036,0.470084,NaN,-0.592400,163.504196,NaN
35994,15/9-17,473.493998,19.174889,NaN,1.719543,1.916102,NaN,81.581284,NaN,51.287521,2.500392,-0.501950,NaN,-0.558764,163.171646,NaN
35995,15/9-17,473.645998,19.224571,NaN,1.829696,1.924672,NaN,84.375999,NaN,79.293236,2.427329,-1.385147,NaN,-0.512869,162.569824,NaN
35996,15/9-17,473.797998,19.305397,NaN,1.873184,1.928222,NaN,86.059189,NaN,85.377029,2.295868,0.417226,NaN,-0.498815,162.236664,NaN
35997,15/9-17,473.949998,19.297817,NaN,1.901130,1.926093,NaN,85.316711,NaN,55.401112,2.170189,0.856920,NaN,-0.513161,162.112839,NaN
35998,15/9-17,474.101998,19.274790,NaN,1.922795,1.924890,NaN,86.031990,NaN,37.303967,2.118761,0.147209,NaN,-0.518595,162.032242,NaN
35999,15/9-17,474.253998,19.299480,NaN,1.851270,1.933680,NaN,84.518578,NaN,38.049736,2.102855,0.521644,NaN,-0.519581,162.071625,NaN
36000,15/9-17,474.405998,19.303452,NaN,1.758412,1.926667,NaN,81.728683,NaN,40.752102,2.082605,0.401510,NaN,-0.530339,162.386612,NaN
36001,15/9-17,474.557998,19.305906,NaN,1.713945,1.909245,NaN,79.104134,NaN,39.005127,2.064641,0.382800,NaN,-0.539063,163.000504,NaN
36002,15/9-17,474.709998,19.276579,NaN,1.691011,1.914415,NaN,76.439606,NaN,43.152138,2.051534,0.774327,NaN,-0.539695,163.512558,NaN
36003,15/9-17,474.861998,19.241074,NaN,1.693950,1.917437,NaN,74.739975,NaN,61.709297,2.051595,0.206869,NaN,-0.526512,163.545563,NaN
36004,15/9-17,475.013998,19.296717,NaN,1.723303,1.911878,NaN,74.587822,NaN,172.915146,2.055518,0.299601,NaN,-0.517100,162.587830,NaN
36005,15/9-17,475.165998,19.343800,NaN,1.747923,1.901866,NaN,78.268433,NaN,189.635941,2.052489,0.264866,NaN,-0.521522,161.480347,NaN
36006,15/9-17,475.317998,19.387873,NaN,1.845002,1.906504,NaN,80.741959,NaN,110.318703,2.047471,-0.460690,NaN,-0.532913,161.318954,NaN
36007,15/9-17,475.469998,19.369217,NaN,1.861540,1.930389,NaN,80.792809,NaN,60.336239,2.047091,0.685310,NaN,-0.534438,161.633926,NaN
36008,15/9-17,475.621998,19.301939,NaN,1.773785,1.942959,NaN,78.254692,NaN,42.253925,2.061936,1.400990,NaN,-0.522303,162.223892,NaN
36009,15/9-17,475.773998,19.298658,NaN,1.749374,1.945570,NaN,75.144356,NaN,44.801800,2.071187,1.914764,NaN,-0.515600,162.737701,NaN
36010,15/9-17,475.925998,19.321140,NaN,1.792751,1.933787,NaN,75.731606,NaN,45.814480,2.055181,1.266479,NaN,-0.527230,162.633789,NaN
36011,15/9-17,476.077998,19.353952,NaN,1.813402,1.921798,NaN,77.426231,NaN,45.743076,2.027896,0.510588,NaN,-0.543876,161.948273,NaN
36012,15/9-17,476.229998,19.340714,NaN,1.822534,1.915524,NaN,78.286430,NaN,43.350971,2.013460,0.821181,NaN,-0.553037,161.482208,NaN
36013,15/9-17,476.381998,19.295467,NaN,1.865991,1.905805,NaN,78.249680,NaN,51.602741,2.029824,0.991038,NaN,-0.546638,161.848099,NaN
36014,15/9-17,476.533998,19.298250,NaN,1.818825,1.892871,NaN,76.715157,NaN,57.949871,2.064023,1.034739,NaN,-0.531386,162.435959,NaN
36015,15/9-17,476.685998,19.320934,NaN,1.738852,1.885700,NaN,76.160530,NaN,63.946205,2.092750,2.141933,NaN,-0.520954,163.092163,NaN
36016,15/9-17,476.837998,19.319708,NaN,1.679488,1.876286,NaN,74.847778,NaN,57.635098,2.097206,2.373934,NaN,-0.523894,163.671433,NaN
36017,15/9-17,476.989998,19.295795,NaN,1.655199,1.867665,NaN,73.341537,NaN,59.057823,2.091800,2.970943,NaN,-0.530585,163.788162,NaN
36018,15/9-17,477.141998,19.272934,NaN,1.722149,1.854199,NaN,72.246819,NaN,55.893429,2.100112,2.803792,NaN,-0.522588,163.519699,NaN
36019,15/9-17,477.293998,19.265600,NaN,1.752898,1.845398,NaN,72.903053,NaN,40.768204,2.115671,2.146699,NaN,-0.505799,163.432800,NaN
36020,15/9-17,477.445998,19.240911,NaN,1.712084,1.855402,NaN,76.059937,NaN,31.755899,2.116828,1.323667,NaN,-0.500110,163.495117,NaN
36021,15/9-17,477.597998,19.259792,NaN,1.676168,1.871538,NaN,80.413383,NaN,25.335983,2.104162,0.165101,NaN,-0.510713,163.451065,NaN
36022,15/9-17,477.749998,19.288754,NaN,1.708436,1.876297,NaN,81.762512,NaN,32.847515,2.098692,-0.260439,NaN,-0.519853,163.438828,NaN
36023,15/9-17,477.901998,19.297514,NaN,1.766253,1.866452,NaN,80.135353,NaN,52.824547,2.092481,-0.225997,NaN,-0.527340,163.056168,NaN
36024,15/9-17,478.053998,19.312500,NaN,1.815553,1.864899,NaN,78.558472,NaN,111.129311,2.085900,0.102983,NaN,-0.531700,162.865921,NaN
36025,15/9-17,478.205998,19.296450,NaN,1.846700,1.864624,NaN,76.694366,NaN,121.830391,2.074891,0.763934,NaN,-0.534055,163.243820,NaN
36026,15/9-17,478.357998,19.305252,NaN,1.764199,1.860400,NaN,76.162880,NaN,94.105743,2.077448,-0.157379,NaN,-0.526596,163.657425,NaN
36027,15/9-17,478.509998,19.324129,NaN,1.757594,1.867324,NaN,74.878273,NaN,85.540100,2.089800,0.177132,NaN,-0.516100,163.977112,NaN
36028,15/9-17,478.661998,19.316349,NaN,1.746975,1.871518,NaN,75.179337,NaN,106.890076,2.085849,2.459521,NaN,-0.519341,163.917541,NaN
36029,15/9-17,478.813998,19.257381,NaN,1.748152,1.869100,NaN,76.433678,NaN,97.964424,2.078070,2.373154,NaN,-0.525422,163.206726,NaN
36030,15/9-17,478.965998,19.234430,NaN,1.838932,1.874012,NaN,77.159340,NaN,59.895687,2.076155,2.642862,NaN,-0.522936,162.314590,NaN
36031,15/9-17,479.117998,19.250040,NaN,1.816989,1.875010,NaN,77.439911,NaN,51.059853,2.091765,1.549335,NaN,-0.508573,161.853012,NaN
36032,15/9-17,479.269998,19.265404,NaN,1.742466,1.877896,NaN,76.996056,NaN,44.962303,2.109369,0.523774,NaN,-0.499252,161.808197,NaN
36033,15/9-17,479.421998,19.304598,NaN,1.729089,1.894915,NaN,76.112312,NaN,48.115932,2.114238,1.292437,NaN,-0.501418,161.799149,NaN
36034,15/9-17,479.573998,19.289484,NaN,1.787030,1.907705,NaN,75.024887,NaN,42.694550,2.126733,1.330325,NaN,-0.499091,161.919785,NaN
36035,15/9-17,479.725998,19.280878,NaN,1.806930,1.905905,NaN,74.825897,NaN,37.211430,2.131037,1.794296,NaN,-0.493661,162.337311,NaN
36036,15/9-17,479.877998,19.312046,NaN,1.787813,1.912759,NaN,73.491508,NaN,38.474018,2.116398,2.870908,NaN,-0.491501,162.596039,NaN
36037,15/9-17,480.029998,19.335682,NaN,1.786433,1.918668,NaN,72.264984,NaN,41.534451,2.091486,3.929801,NaN,-0.498440,162.690170,NaN
36038,15/9-17,480.181998,19.328766,NaN,1.811300,1.899420,NaN,70.791817,NaN,39.051010,2.069466,3.832611,NaN,-0.511787,162.615433,NaN
36039,15/9-17,480.333998,19.290098,NaN,1.841800,1.888041,NaN,71.866844,NaN,32.729427,2.057993,2.910085,NaN,-0.523313,162.319901,NaN
36040,15/9-17,480.485998,19.258190,NaN,1.821057,1.888272,NaN,74.101562,NaN,25.404287,2.043242,2.272729,NaN,-0.534478,162.175446,NaN
36041,15/9-17,480.637998,19.257368,NaN,1.794883,1.873749,NaN,73.465149,NaN,22.381741,2.040784,2.213546,NaN,-0.534841,162.145447,NaN
36042,15/9-17,480.789998,19.294956,NaN,1.835056,1.873223,NaN,72.115532,NaN,22.963308,2.049503,0.671066,NaN,-0.532139,162.096405,NaN
36043,15/9-17,480.941998,19.320814,NaN,1.784273,1.884524,NaN,71.654541,NaN,36.959198,2.062920,0.503871,NaN,-0.532499,161.882401,NaN
36044,15/9-17,481.093998,19.298008,NaN,1.718877,1.886334,NaN,73.638992,NaN,59.254753,2.065008,1.134314,NaN,-0.535137,162.146027,NaN
36045,15/9-17,481.245998,19.266842,NaN,1.732697,1.890799,NaN,75.774429,NaN,78.712326,2.058402,2.511053,NaN,-0.536375,162.612885,NaN
36046,15/9-17,481.397998,19.250000,NaN,1.754203,1.894946,NaN,77.259750,NaN,70.675476,2.060500,3.728390,NaN,-0.529388,162.496216,NaN
36047,15/9-17,481.549998,19.278538,NaN,1.851385,1.900519,NaN,78.118156,NaN,42.927452,2.067669,3.248102,NaN,-0.520425,162.299362,NaN
36048,15/9-17,481.701998,19.305418,NaN,1.825626,1.903757,NaN,77.131561,NaN,41.703861,2.074430,2.506637,NaN,-0.516462,162.244720,NaN
36049,15/9-17,481.853998,19.282774,NaN,1.762509,1.913720,NaN,77.581795,NaN,48.292046,2.069637,2.206808,NaN,-0.522071,162.487915,NaN
36050,15/9-17,482.005998,19.258600,NaN,1.802701,1.913603,NaN,78.704391,NaN,53.751274,2.061151,1.851618,NaN,-0.532149,162.992279,NaN
36051,15/9-17,482.157998,19.250000,NaN,1.846071,1.918237,NaN,77.839035,NaN,50.212875,2.057287,2.787582,NaN,-0.535968,163.261047,NaN
36052,15/9-17,482.309998,19.250000,NaN,1.845807,1.937619,NaN,77.059776,NaN,45.432941,2.057927,1.860452,NaN,-0.530527,163.116150,NaN
36053,15/9-17,482.461998,19.256878,NaN,1.769861,1.931222,NaN,77.396545,NaN,42.621811,2.052099,0.667705,NaN,-0.524582,162.652634,NaN
36054,15/9-17,482.613998,19.258764,NaN,1.812638,1.920645,NaN,76.950768,NaN,45.399670,2.051385,0.911876,NaN,-0.517914,162.425613,NaN
36055,15/9-17,482.765998,19.250000,NaN,1.868712,1.928203,NaN,74.008850,NaN,44.775440,2.054700,1.353783,NaN,-0.516734,162.698425,NaN
36056,15/9-17,482.917998,19.256754,NaN,1.854304,1.930164,NaN,72.833069,NaN,38.093578,2.055522,2.551669,NaN,-0.520582,163.000381,NaN
36057,15/9-17,483.069998,19.265600,NaN,1.857360,1.934283,NaN,74.236465,NaN,33.842548,2.059139,3.054745,NaN,-0.520709,162.968872,NaN
36058,15/9-17,483.221998,19.265600,NaN,1.829537,1.924935,NaN,75.437836,NaN,31.824379,2.065837,2.213266,NaN,-0.514209,162.669434,NaN
36059,15/9-17,483.373998,19.312111,NaN,1.880511,1.923641,NaN,74.895210,NaN,31.153034,2.076125,1.541335,NaN,-0.506355,162.252197,NaN
36060,15/9-17,483.525998,19.348595,NaN,1.901320,1.927475,NaN,75.609039,NaN,33.047112,2.077409,1.530103,NaN,-0.510188,161.667084,NaN
36061,15/9-17,483.677998,19.312500,NaN,1.892585,1.921686,NaN,74.947113,NaN,34.912186,2.069198,2.403046,NaN,-0.523810,161.205841,NaN
36062,15/9-17,483.829998,19.279919,NaN,1.927377,1.906238,NaN,71.989647,NaN,38.920967,2.071134,4.124328,NaN,-0.533744,161.041000,NaN
36063,15/9-17,483.981998,19.234400,NaN,1.873717,1.889740,NaN,70.948471,NaN,44.978470,2.079554,4.908390,NaN,-0.533781,161.217926,NaN
36064,15/9-17,484.133998,19.234400,NaN,1.839355,1.869634,NaN,71.614975,NaN,42.780594,2.091407,4.367081,NaN,-0.525186,161.744980,NaN
36065,15/9-17,484.285998,19.247173,NaN,1.805413,1.835114,NaN,75.452202,NaN,29.180645,2.103321,2.969972,NaN,-0.510371,162.784393,NaN
36066,15/9-17,484.437998,19.271986,NaN,1.792962,1.804489,NaN,77.925751,NaN,27.301897,2.117973,1.743947,NaN,-0.499517,163.468033,NaN
36067,15/9-17,484.589998,19.278128,NaN,1.738628,1.766420,NaN,79.404556,NaN,35.047245,2.115180,1.309470,NaN,-0.505526,163.947769,NaN
36068,15/9-17,484.741998,19.270298,NaN,1.702796,1.731208,NaN,77.522385,NaN,52.104149,2.095269,0.175060,NaN,-0.522196,164.625427,NaN
36069,15/9-17,484.893998,19.278082,NaN,1.661582,1.705318,NaN,75.415611,NaN,54.230141,2.065626,-0.332096,NaN,-0.539054,165.447800,NaN
36070,15/9-17,485.045998,19.278322,NaN,1.585431,1.678379,NaN,73.107498,NaN,43.710941,2.051155,0.707573,NaN,-0.537722,166.326294,NaN
36071,15/9-17,485.197998,19.268461,NaN,1.672088,1.664465,NaN,71.371651,NaN,41.141289,2.051870,1.556618,NaN,-0.528720,166.582916,NaN
36072,15/9-17,485.349998,19.290796,NaN,1.703283,1.657131,NaN,70.720062,NaN,37.470661,2.057383,2.659954,NaN,-0.528930,166.328949,NaN
36073,15/9-17,485.501998,19.275200,NaN,1.651807,1.647885,NaN,72.373901,NaN,36.062500,2.059338,3.127568,NaN,-0.540290,165.966217,NaN
36074,15/9-17,485.653998,19.283699,NaN,1.665989,1.651173,NaN,74.726929,NaN,40.113571,2.055252,2.568321,NaN,-0.552275,165.849579,NaN
36075,15/9-17,485.805998,19.300543,NaN,1.697013,1.661695,NaN,73.822166,NaN,43.688560,2.049123,1.528935,NaN,-0.552966,166.122757,NaN
36076,15/9-17,485.957998,19.257507,NaN,1.650161,1.662235,NaN,71.315704,NaN,37.611588,2.062369,-0.031064,NaN,-0.534802,166.143158,NaN
36077,15/9-17,486.109998,19.224699,NaN,1.662820,1.660675,NaN,70.883400,NaN,31.376091,2.085511,0.230689,NaN,-0.515576,165.962906,NaN
36078,15/9-17,486.261998,19.240257,NaN,1.680136,1.666404,NaN,71.539757,NaN,31.814381,2.135098,1.222301,NaN,-0.506460,166.046433,NaN
36079,15/9-17,486.413998,19.255816,NaN,1.644220,1.665338,NaN,71.994766,NaN,44.868340,2.220602,1.464499,NaN,-0.522526,166.102707,NaN
36080,15/9-17,486.565998,19.259825,NaN,1.616107,1.655373,NaN,69.861855,NaN,61.303753,2.310402,2.156988,NaN,-0.571136,166.432755,NaN
36081,15/9-17,486.717998,19.238533,NaN,1.658330,1.660434,NaN,67.431091,NaN,70.343246,2.385732,2.132681,NaN,-0.600350,166.695694,NaN
36082,15/9-17,486.869998,19.218800,NaN,1.624173,1.661366,NaN,66.788017,NaN,65.408897,2.342243,2.276207,NaN,-0.591810,166.926697,NaN
36083,15/9-17,487.021998,19.213112,NaN,1.611743,1.651525,NaN,65.739143,NaN,81.716042,2.256341,2.243403,NaN,-0.565266,167.282349,NaN
36084,15/9-17,487.173998,19.231232,NaN,1.685505,1.647357,NaN,65.230186,NaN,51.904514,2.151417,1.526752,NaN,-0.556372,168.159653,NaN
36085,15/9-17,487.325998,19.275694,NaN,1.688034,1.648642,NaN,64.471039,NaN,45.876492,2.087237,1.395769,NaN,-0.566614,168.727402,NaN
36086,15/9-17,487.477998,19.265600,NaN,1.619499,1.652918,NaN,64.422905,NaN,39.941486,2.067018,1.919122,NaN,-0.567772,168.665665,NaN
36087,15/9-17,487.629998,19.254625,NaN,1.632266,1.652792,NaN,66.195412,NaN,54.204769,2.061053,1.691921,NaN,-0.569699,168.471802,NaN
36088,15/9-17,487.781998,19.234400,NaN,1.681479,1.651404,NaN,69.464920,NaN,56.266701,2.058121,1.769293,NaN,-0.570032,168.469559,NaN
36089,15/9-17,487.933998,19.234400,NaN,1.730962,1.650093,NaN,73.525139,NaN,46.273243,2.058402,3.184839,NaN,-0.561342,168.265900,NaN
36090,15/9-17,488.085998,19.229034,NaN,1.720628,1.663633,NaN,76.478767,NaN,36.954628,2.050236,4.297514,NaN,-0.567059,168.089523,NaN
36091,15/9-17,488.237998,19.224125,NaN,1.621108,1.653627,NaN,78.603394,NaN,34.859680,2.052606,3.422989,NaN,-0.570166,168.114288,NaN
36092,15/9-17,488.389998,19.250284,NaN,1.700286,1.651721,NaN,79.911301,NaN,38.272919,2.047542,1.863474,NaN,-0.579915,168.488831,NaN
36093,15/9-17,488.541998,19.276024,NaN,1.735231,1.649360,NaN,78.724930,NaN,39.906380,2.054011,1.536041,NaN,-0.571383,168.517609,NaN
36094,15/9-17,488.693998,19.255198,NaN,1.674762,1.638300,NaN,76.874870,NaN,41.614746,2.052699,1.081374,NaN,-0.557300,168.037704,NaN
36095,15/9-17,488.845998,19.234400,NaN,1.683071,1.638610,NaN,74.319817,NaN,34.633656,2.055252,1.053467,NaN,-0.543513,167.381622,NaN
36096,15/9-17,488.997998,19.239517,NaN,1.756039,1.642892,NaN,72.909111,NaN,32.638367,2.073641,2.187916,NaN,-0.525623,166.971115,NaN
36097,15/9-17,489.149998,19.244923,NaN,1.656901,1.645036,NaN,73.976715,NaN,27.883982,2.063290,3.271261,NaN,-0.538849,167.098587,NaN
36098,15/9-17,489.301998,19.239439,NaN,1.642552,1.652198,NaN,74.914169,NaN,31.736835,2.040104,4.574907,NaN,-0.567619,167.908447,NaN
36099,15/9-17,489.453998,19.239990,NaN,1.588613,1.646707,NaN,75.396500,NaN,38.154690,2.014309,5.092782,NaN,-0.597839,168.192703,NaN
36100,15/9-17,489.605998,19.208824,NaN,1.655731,1.646788,NaN,72.790436,NaN,38.118866,2.021191,4.352959,NaN,-0.598147,167.825546,NaN
36101,15/9-17,489.757998,19.202272,NaN,1.692615,1.631886,NaN,72.252495,NaN,36.703362,2.041799,3.826217,NaN,-0.576814,167.483551,NaN
36102,15/9-17,489.909998,19.239273,NaN,1.726628,1.624090,NaN,73.581703,NaN,33.234047,2.055627,3.184543,NaN,-0.560537,167.065430,NaN
36103,15/9-17,490.061998,19.245169,NaN,1.665619,1.613716,NaN,75.135490,NaN,43.336205,2.041896,2.831848,NaN,-0.563637,166.791428,NaN
36104,15/9-17,490.213998,19.239191,NaN,1.658231,1.620912,NaN,75.610237,NaN,49.420410,2.027983,3.447513,NaN,-0.570028,167.022827,NaN
36105,15/9-17,490.365998,19.254751,NaN,1.644910,1.615771,NaN,75.790604,NaN,50.774799,2.009933,5.088900,NaN,-0.572086,167.478424,NaN
36106,15/9-17,490.517998,19.265600,NaN,1.731043,1.595304,NaN,75.671028,NaN,32.818748,2.007077,7.445120,NaN,-0.563811,167.707581,NaN
36107,15/9-17,490.669998,19.265600,NaN,1.720658,1.598436,NaN,76.930191,NaN,27.873894,2.014468,8.646216,NaN,-0.550297,167.735046,NaN
36108,15/9-17,490.821998,19.265600,NaN,1.607540,1.594966,NaN,77.511131,NaN,25.762987,2.029464,8.287922,NaN,-0.540742,167.828674,NaN
36109,15/9-17,490.973998,19.265600,NaN,1.596593,1.575954,NaN,76.169304,NaN,24.978857,2.040246,7.112906,NaN,-0.534200,168.032745,NaN
36110,15/9-17,491.125998,19.265600,NaN,1.600227,1.568364,NaN,74.956184,NaN,26.515686,2.041281,5.691302,NaN,-0.536036,168.142319,NaN
36111,15/9-17,491.277998,19.270134,NaN,1.633458,1.553221,NaN,74.894272,NaN,32.300247,2.039931,5.246954,NaN,-0.537814,168.343903,NaN
36112,15/9-17,491.429998,19.281300,NaN,1.575760,1.539863,NaN,76.910156,NaN,42.945316,2.045784,5.433956,NaN,-0.532888,168.607910,NaN
36113,15/9-17,491.581998,19.276848,NaN,1.613508,1.519843,NaN,76.115662,NaN,56.629009,2.045212,5.771835,NaN,-0.536816,168.916443,NaN
36114,15/9-17,491.733998,19.265600,NaN,1.649077,1.497152,NaN,76.355324,NaN,59.946938,2.048048,6.302026,NaN,-0.538853,168.808151,NaN
36115,15/9-17,491.885998,19.265600,NaN,1.617445,1.488941,NaN,78.207336,NaN,74.520996,2.038830,6.333359,NaN,-0.546039,168.647049,NaN
36116,15/9-17,492.037998,19.265600,NaN,1.481502,1.489948,NaN,82.949722,NaN,55.578762,2.025126,6.120832,NaN,-0.547998,168.461349,NaN
36117,15/9-17,492.189998,19.265600,NaN,1.429904,1.480335,NaN,83.772011,NaN,37.049229,2.004446,5.551351,NaN,-0.550617,168.139282,NaN
36118,15/9-17,492.341998,19.265600,NaN,1.449860,1.477500,NaN,80.485832,NaN,38.598518,2.010119,4.401881,NaN,-0.543614,168.141876,NaN
36119,15/9-17,492.493998,19.273981,NaN,1.598556,1.477768,NaN,76.762527,NaN,36.486637,2.027257,3.704557,NaN,-0.536368,168.805847,NaN
36120,15/9-17,492.645998,19.292763,NaN,1.709688,1.482636,NaN,74.393913,NaN,41.335812,2.040402,3.766093,NaN,-0.541634,169.528107,NaN
36121,15/9-17,492.797998,19.268990,NaN,1.585048,1.502053,NaN,74.393829,NaN,41.532593,2.034224,4.720088,NaN,-0.556379,169.841660,NaN
36122,15/9-17,492.949998,19.238453,NaN,1.519741,1.524140,NaN,71.763786,NaN,44.118908,2.045233,6.117692,NaN,-0.557304,169.630554,NaN
36123,15/9-17,493.101998,19.245989,NaN,1.511051,1.522911,NaN,72.107185,NaN,38.942448,2.069403,6.009697,NaN,-0.544506,169.216034,NaN
36124,15/9-17,493.253998,19.234400,NaN,1.572339,1.523740,NaN,74.486420,NaN,33.876144,2.069296,6.729024,NaN,-0.555137,169.539200,NaN
36125,15/9-17,493.405998,19.218647,NaN,1.525600,1.529065,NaN,77.532532,NaN,34.259354,2.052132,7.686400,NaN,-0.576458,169.507217,NaN
36126,15/9-17,493.557998,19.171900,NaN,1.574982,1.524677,NaN,77.111519,NaN,35.389217,2.031215,6.801255,NaN,-0.593435,169.656250,NaN
36127,15/9-17,493.709998,19.171900,NaN,1.539085,1.528989,NaN,74.406654,NaN,38.904732,2.045887,5.623353,NaN,-0.575764,169.825424,NaN
36128,15/9-17,493.861998,19.171900,NaN,1.627901,1.550948,NaN,73.961624,NaN,43.961407,2.054212,3.688639,NaN,-0.559462,170.044281,NaN
36129,15/9-17,494.013998,19.171900,NaN,1.553810,1.555958,NaN,72.573212,NaN,43.611607,2.053183,2.774886,NaN,-0.551392,169.778427,NaN
36130,15/9-17,494.165998,19.183098,NaN,1.523203,1.552662,NaN,71.998085,NaN,45.520622,2.055154,4.160651,NaN,-0.539711,168.982376,NaN
36131,15/9-17,494.317998,19.226168,NaN,1.588509,1.559285,NaN,72.493767,NaN,35.003696,2.057993,6.113366,NaN,-0.531680,168.357025,NaN
36132,15/9-17,494.469998,19.253645,NaN,1.595704,1.567902,NaN,70.396042,NaN,35.188107,2.064322,8.087195,NaN,-0.518206,168.278000,NaN
36133,15/9-17,494.621998,19.265600,NaN,1.646303,1.590032,NaN,70.052040,NaN,32.737236,2.064894,8.215752,NaN,-0.517286,168.851746,NaN
36134,15/9-17,494.773998,19.262037,NaN,1.638790,1.596677,NaN,67.555122,NaN,41.704613,2.041534,7.073345,NaN,-0.527810,169.101974,NaN
36135,15/9-17,494.925998,19.239414,NaN,1.582774,1.608386,NaN,68.473740,NaN,46.120586,2.019879,6.715195,NaN,-0.547379,168.818466,NaN
36136,15/9-17,495.077998,19.210081,NaN,1.579836,1.614553,NaN,68.687042,NaN,34.896954,2.009986,5.297890,NaN,-0.556083,168.108810,NaN

In [68]:
pd.set_option('display.max_rows', 20)
well_datacount=well.groupby(['WELL'], as_index = False)
well_datacount['DRHO'].quantile(0.005)

        WELL      DRHO
0    15/9-13 -0.026582
1    15/9-15 -0.050337
2    15/9-17 -0.539703
3     16/1-2 -0.200808
4   16/1-6 A       NaN
..       ...       ...
93    35/9-5 -0.019345
94  35/9-6 S -0.088358
95    36/7-3  2.241756
96     7/1-1 -0.030776
97   7/1-2 S -0.061165

[98 rows x 2 columns]

In [69]:
#Filter RDEP (should be in range 0-2000)
well.drop(well[(well['DRHO'] < -0.4)].index, inplace=True)

C:\Users\V330\AppData\Local\Temp\ipykernel_19304\1530311284.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  well.drop(well[(well['DRHO'] < -0.4)].index, inplace=True)

In [70]:
well.describe()

,DEPTH,CALI,RSHA,RMED,RDEP,RXO,GR,NPHI,PEF,RHOB,SP,BS,DRHO,DTC,DTS
count,1.131070e+06,1.044575e+06,624115.000000,1.092661e+06,1.120069e+06,291976.000000,1.131070e+06,755497.000000,634746.000000,971357.000000,826826.000000,664463.000000,948619.000000,1.052063e+06,174555.000000
mean,2.182755e+03,1.313339e+01,10.387129,3.711397e+00,1.093582e+01,9.753489,7.075523e+01,0.332806,6.215619,2.286507,61.675871,11.887369,0.025119,1.133010e+02,204.669581
std,9.921612e+02,3.795552e+00,98.307498,2.231048e+01,1.158379e+02,95.442252,3.447713e+01,0.130039,10.918190,0.251109,75.607409,3.326543,0.196604,2.991358e+01,71.073957
min,1.360860e+02,2.344000e+00,0.000100,3.990377e-02,3.170056e-02,0.002298,1.092843e-01,-0.035822,0.099718,0.720971,-999.000000,6.000000,-0.399639,7.415132e+00,69.163177
25%,1.421479e+03,9.370763e+00,0.855425,9.161193e-01,9.117858e-01,0.873880,4.730957e+01,0.243026,3.398525,2.095069,33.939554,8.500000,-0.009347,8.786842e+01,155.945190
50%,2.077678e+03,1.253910e+01,1.405115,1.452493e+00,1.437505e+00,1.578709,6.816999e+01,0.327783,4.283869,2.323007,55.880093,12.250001,0.001645,1.093858e+02,188.210999
75%,2.866095e+03,1.633590e+01,3.130927,2.680056e+00,2.559468e+00,4.052797,8.861448e+01,0.423322,5.896415,2.488884,84.843786,12.250001,0.021569,1.407251e+02,224.655365
max,5.436632e+03,2.827900e+01,2193.904541,1.988616e+03,1.999887e+03,2000.000000,1.076964e+03,0.999570,383.129974,3.457820,526.547302,26.000002,2.836938,3.204789e+02,676.578125

### PEF

In [91]:
well['PEF'].quantile(0.98)

27.014279556699943

In [74]:
pd.set_option('display.max_rows', None)
well_datacount=well.groupby(['WELL'], as_index = False)
well_datacount['PEF'].quantile(0.99)

           WELL         PEF
0       15/9-13   10.221097
1       15/9-15   13.304902
2       15/9-17   10.569006
3        16/1-2         NaN
4      16/1-6 A    8.279543
5       16/10-1   18.822380
6       16/10-2   26.043201
7       16/10-3    8.843380
8       16/10-5    9.385436
9   16/11-1 ST3         NaN
10    16/2-11 A    7.643094
11      16/2-16    7.770954
12       16/2-6    7.679043
13       16/4-1   11.531869
14       16/5-3    5.294256
15       16/7-4         NaN
16       16/7-5    8.198352
17       16/8-1         NaN
18      17/11-1         NaN
19     25/11-15         NaN
20   25/11-19 S   72.908908
21      25/11-5         NaN
22   25/2-13 T4   13.209071
23      25/2-14   18.191400
24       25/2-7    9.857198
25       25/3-1   20.625163
26       25/4-5   10.243053
27       25/5-1    6.281751
28       25/5-4    5.276748
29       25/6-1         NaN
30       25/6-2         NaN
31       25/6-3         NaN
32       25/7-2  249.735931
33     25/8-5 S   15.039528
34       25/8-7    9.899373
35       25/9-1    9.406406
36       26/4-1   31.852316
37       29/6-1  304.906125
38       30/3-3   78.976915
39     30/3-5 S    9.033069
40       30/6-5   48.443531
41       31/2-1         NaN
42    31/2-19 S    6.344556
43       31/2-7  127.643131
44       31/2-8    7.289467
45       31/2-9   33.197930
46       31/3-1         NaN
47       31/3-2   49.097092
48       31/3-3         NaN
49       31/3-4    8.377688
50      31/4-10         NaN
51       31/4-5    9.296503
52     31/5-4 S         NaN
53       31/6-5         NaN
54       31/6-8         NaN
55       32/2-1    3.909517
56       33/5-2         NaN
57     33/6-3 S   14.860836
58       33/9-1         NaN
59      33/9-17   31.020156
60     34/10-19         NaN
61     34/10-21   23.148055
62     34/10-33         NaN
63     34/10-35   95.391402
64      34/11-1         NaN
65    34/11-2 S   21.816848
66      34/12-1   14.469473
67       34/2-4   31.632324
68     34/3-1 A   11.069376
69    34/4-10 R   10.047989
70     34/5-1 A    9.742645
71     34/5-1 S   11.296737
72      34/7-13         NaN
73      34/7-20         NaN
74      34/7-21   16.207388
75       34/8-1   61.966934
76       34/8-3         NaN
77     34/8-7 R         NaN
78      35/11-1   14.126419
79     35/11-10         NaN
80     35/11-11    5.546139
81     35/11-12    8.642295
82     35/11-13    4.319828
83   35/11-15 S    4.813523
84      35/11-6   43.477390
85      35/11-7    9.070035
86      35/12-1   15.414435
87     35/3-7 S    9.300287
88       35/4-1   13.632625
89       35/8-4   20.444903
90     35/8-6 S    8.129544
91    35/9-10 S    7.633463
92       35/9-2         NaN
93       35/9-5    7.287766
94     35/9-6 S    8.668037
95       36/7-3    2.718203
96        7/1-1         NaN
97      7/1-2 S   10.379561

In [103]:
pefoutlier = well[(well['PEF'] > 20) & (well['PEF'] < 50)]
pefoutlier['WELL'].unique()
#drhooutlier[drhooutlier['WELL']=='15/9-13']

array(['15/9-15', '15/9-17', '16/10-1', '16/10-2', '16/2-6', '16/7-5',
       '25/11-19 S', '25/2-13 T4', '25/2-14', '25/3-1', '25/5-1',
       '25/7-2', '25/8-5 S', '26/4-1', '29/6-1', '30/3-3', '30/6-5',
       '31/2-7', '31/2-8', '31/2-9', '31/3-2', '31/4-5', '33/9-17',
       '34/10-21', '34/10-35', '34/11-2 S', '34/12-1', '34/2-4',
       '34/4-10 R', '34/7-21', '34/8-1', '35/11-1', '35/11-6', '35/12-1',
       '35/4-1', '35/8-4'], dtype=object)

16/10-2
25/11-19 S
25/7-2
26/4-1	
29/6-1	
30/3-3	
30/6-5
31/2-7
31/2-9
31/3-2
33/9-17
34/10-21
34/10-35
34/11-2 S
34/2-4
34/8-1
35/11-6

In [104]:
pefoutlier[pefoutlier['WELL']=='16/10-2']

,WELL,DEPTH,CALI,RSHA,RMED,RDEP,RXO,GR,NPHI,PEF,RHOB,SP,BS,DRHO,DTC,DTS
76450,16/10-2,2779.577202,15.141150,NaN,1.475515,1.265378,NaN,37.447510,0.450693,23.687037,2.083333,95.075165,12.250001,-0.012656,86.810219,NaN
76451,16/10-2,2779.729202,16.762106,NaN,1.130740,1.204020,NaN,37.722324,0.479017,34.687775,1.877014,95.508911,12.250001,-0.021177,96.371147,NaN
76452,16/10-2,2779.881202,17.212368,NaN,0.923620,1.177672,NaN,39.660786,0.496600,39.776432,1.749578,96.132431,12.250001,-0.020954,104.217117,NaN
76453,16/10-2,2780.033202,17.157625,NaN,0.840949,1.174214,NaN,43.087860,0.477400,33.456791,1.716013,96.496811,12.250001,-0.016203,107.607590,NaN
76454,16/10-2,2780.185202,17.073273,NaN,0.855567,1.186890,NaN,44.904297,0.418132,26.152924,1.793320,96.404198,12.250001,-0.009598,110.577957,NaN
76494,16/10-2,2786.265202,14.384702,NaN,1.551053,1.436763,NaN,26.604170,0.401380,21.863434,2.117249,96.845055,12.250001,0.001359,85.868271,NaN
76495,16/10-2,2786.417202,15.694042,NaN,1.538936,1.469825,NaN,25.964117,0.392473,32.667217,1.938847,96.805267,12.250001,-0.015975,85.987694,NaN
76496,16/10-2,2786.569202,16.803932,NaN,1.491153,1.505824,NaN,25.973192,0.338990,42.793842,1.856138,96.627838,12.250001,-0.048819,91.619621,NaN
76497,16/10-2,2786.721202,17.003073,NaN,1.500779,1.516049,NaN,25.243750,0.285283,23.883194,1.943329,96.431664,12.250001,-0.051485,96.266861,NaN
76498,16/10-2,2786.873202,15.374676,NaN,1.685398,1.519526,NaN,24.735949,0.296170,26.072737,2.056001,96.253647,12.250001,-0.024817,93.836472,NaN
76499,16/10-2,2787.025202,14.970353,NaN,1.897905,1.522461,NaN,25.644890,0.350637,31.197823,2.014275,96.199982,12.250001,-0.025881,90.653503,NaN
76500,16/10-2,2787.177202,15.873158,NaN,1.838985,1.539020,NaN,26.680267,0.398111,38.710339,1.927935,96.341286,12.250001,-0.038073,90.657295,NaN
76501,16/10-2,2787.329202,16.046806,NaN,1.591590,1.577560,NaN,29.503700,0.393381,29.820375,1.906950,96.379662,12.250001,-0.034873,90.335899,NaN
76502,16/10-2,2787.481202,15.648767,NaN,1.483697,1.602567,NaN,31.383425,0.357974,29.702044,1.960425,96.324959,12.250001,-0.021369,92.955956,NaN
76503,16/10-2,2787.633202,14.138552,NaN,1.573656,1.593379,NaN,31.874693,0.361904,36.187943,1.924748,96.255173,12.250001,-0.029265,91.087852,NaN
76504,16/10-2,2787.785202,12.884132,NaN,1.709444,1.575425,NaN,29.779016,0.408902,44.895927,1.776186,95.991333,12.250001,-0.050367,86.738098,NaN
76505,16/10-2,2787.937202,12.834864,NaN,1.738149,1.575272,NaN,27.126923,0.452083,47.692078,1.623699,95.410553,12.250001,-0.061473,87.299118,NaN
76506,16/10-2,2788.089202,13.073981,NaN,1.665242,1.582771,NaN,25.363464,0.455534,47.253235,1.540967,94.868721,12.250001,-0.056186,87.809128,NaN
76507,16/10-2,2788.241202,13.273472,NaN,1.594749,1.590300,NaN,24.464808,0.439242,49.123856,1.529223,94.563293,12.250001,-0.042633,83.520470,NaN
76510,16/10-2,2788.697202,14.909324,NaN,1.734944,1.541562,NaN,28.158358,0.426161,49.652416,1.628564,95.892174,12.250001,-0.013549,84.332909,NaN
76511,16/10-2,2788.849202,16.034864,NaN,1.665325,1.533842,NaN,29.911049,0.455709,43.148930,1.763374,95.950081,12.250001,-0.005286,84.147247,NaN
76512,16/10-2,2789.001202,16.732952,NaN,1.514530,1.558684,NaN,32.121502,0.440068,25.277184,1.941277,96.150505,12.250001,-0.000192,88.724129,NaN
76513,16/10-2,2789.153202,15.109480,NaN,1.458868,1.585737,NaN,33.992851,0.403480,22.336758,2.079535,96.723755,12.250001,0.001992,89.956787,NaN
76514,16/10-2,2789.305202,14.001705,NaN,1.514691,1.624087,NaN,33.181187,0.388630,23.274960,2.127287,97.074982,12.250001,-0.003387,88.522659,NaN
76515,16/10-2,2789.457202,15.048005,NaN,1.612860,1.673565,NaN,30.525623,0.379132,26.034870,2.142195,97.074333,12.250001,-0.014966,88.249382,NaN
76518,16/10-2,2789.913202,14.864066,NaN,2.025370,1.684035,NaN,26.587627,0.356891,23.493580,2.166822,96.333817,12.250001,0.004896,81.410690,NaN
76519,16/10-2,2790.065202,15.968530,NaN,1.991101,1.664629,NaN,27.350628,0.395929,35.144562,2.026186,96.896500,12.250001,0.001788,80.539940,NaN
76520,16/10-2,2790.217202,15.998874,NaN,1.779058,1.625276,NaN,29.405920,0.437341,33.928009,1.909801,97.071877,12.250001,-0.002407,77.220474,NaN
76521,16/10-2,2790.369202,16.029219,NaN,1.550045,1.644609,NaN,31.785273,0.440521,20.727135,1.888637,96.950180,12.250001,0.000533,83.029823,NaN
76556,16/10-2,2795.689202,15.197215,NaN,1.418079,1.308861,NaN,43.556946,0.464768,21.422293,2.015268,99.557343,12.250001,-0.035515,100.952095,NaN
76570,16/10-2,2797.817202,14.611605,NaN,1.818940,1.434286,NaN,44.350380,0.313936,22.235802,2.060926,102.406738,10.820439,-0.013066,80.168053,NaN
76582,16/10-2,2799.641202,14.576982,NaN,2.117838,1.997082,NaN,28.488964,0.339173,22.467308,1.861138,97.955795,8.500000,-0.045429,82.247368,NaN
76583,16/10-2,2799.793202,14.364724,NaN,1.653210,2.008270,NaN,29.518541,0.327784,20.625296,1.950094,97.375824,8.500000,-0.037411,86.252663,NaN
76590,16/10-2,2800.857202,13.937222,NaN,2.046412,1.986589,NaN,31.825123,0.377264,27.422894,2.170312,99.592567,8.500000,0.005637,82.757751,NaN
76591,16/10-2,2801.009202,14.241076,NaN,1.804883,2.082055,NaN,32.254597,0.360711,31.452980,2.105090,99.220749,8.500000,0.024244,82.072067,NaN
76592,16/10-2,2801.161202,13.049451,NaN,1.780259,2.172396,NaN,30.193245,0.316977,25.484982,2.108242,98.638367,8.500000,0.042353,78.557388,NaN
76610,16/10-2,2803.897202,11.984430,NaN,1.709288,1.609129,NaN,43.402790,0.346730,20.076641,2.196234,96.606155,8.500000,0.125402,87.426262,NaN
76660,16/10-2,2811.497202,13.407083,NaN,1.400218,1.420168,NaN,48.858383,0.374640,20.888849,2.163495,98.299911,8.500000,0.064288,92.517792,NaN
76661,16/10-2,2811.649202,13.515749,NaN,1.381202,1.407658,NaN,52.519802,0.361964,22.525236,2.112256,98.228950,8.500000,0.051738,93.430794,NaN

In [4]:
#well_datacount.get_group('25/8-5 S')

well.dtypes.value_counts()

float64    15
object      1
Name: count, dtype: int64

In [6]:
well.isna().sum()

WELL          0
DEPTH         0
CALI      87877
RSHA     539861
RMED      38993
RDEP      11015
RXO      843084
GR            0
NPHI     405102
PEF      498819
RHOB     161269
SP       306264
BS       487854
DRHO     182654
DTC       80863
DTS      995898
dtype: int64

In [10]:
well[well.DTS.isnull()]

,WELL,DEPTH,CALI,RSHA,RMED,RDEP,RXO,GR,NPHI,PEF,RHOB,SP,BS,DRHO,DTC,DTS
0,15/9-13,494.5280,19.480835,NaN,1.611410,1.798681,NaN,80.200851,NaN,20.915468,1.884186,24.612379,NaN,-0.574928,161.131180,NaN
1,15/9-13,494.6800,19.468800,NaN,1.618070,1.795641,NaN,79.262886,NaN,19.383013,1.889794,23.895531,NaN,-0.570188,160.603470,NaN
2,15/9-13,494.8320,19.468800,NaN,1.626459,1.800733,NaN,74.821999,NaN,22.591518,1.896523,23.916357,NaN,-0.574245,160.173615,NaN
3,15/9-13,494.9840,19.459282,NaN,1.621594,1.801517,NaN,72.878922,NaN,32.191910,1.891913,23.793688,NaN,-0.586315,160.149429,NaN
4,15/9-13,495.1360,19.453100,NaN,1.602679,1.795299,NaN,71.729141,NaN,38.495632,1.880034,24.104078,NaN,-0.597914,160.128342,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1170506,7/1-2 S,3169.3124,8.423170,NaN,NaN,NaN,NaN,77.654900,NaN,4.586425,2.527984,NaN,8.5,-0.001763,NaN,NaN
1170507,7/1-2 S,3169.4644,8.379244,NaN,NaN,NaN,NaN,75.363937,NaN,7.019858,2.537613,NaN,8.5,-0.007600,NaN,NaN
1170508,7/1-2 S,3169.6164,8.350248,NaN,NaN,NaN,NaN,66.452843,NaN,9.049782,2.491860,NaN,8.5,-0.018297,NaN,NaN
1170509,7/1-2 S,3169.7684,8.313779,NaN,NaN,NaN,NaN,55.784817,NaN,8.903917,2.447539,NaN,8.5,-0.011438,NaN,NaN
1170510,7/1-2 S,3169.9204,8.294910,NaN,NaN,NaN,NaN,48.432129,NaN,9.150043,2.430716,NaN,8.5,-0.011398,NaN,NaN

In [53]:
well_datacount.apply(lambda x:x['DRH'].quantile(0.99)>200)

           WELL   None
0       15/9-13  False
1       15/9-15  False
2       15/9-17  False
3        16/1-2   True
4      16/1-6 A  False
5       16/10-1  False
6       16/10-2   True
7       16/10-3  False
8       16/10-5   True
9   16/11-1 ST3  False
10    16/2-11 A  False
11      16/2-16  False
12       16/2-6  False
13       16/4-1  False
14       16/5-3  False
15       16/7-4  False
16       16/7-5  False
17       16/8-1  False
18      17/11-1  False
19     25/11-15   True
20   25/11-19 S  False
21      25/11-5  False
22   25/2-13 T4  False
23      25/2-14  False
24       25/2-7  False
25       25/3-1  False
26       25/4-5  False
27       25/5-1  False
28       25/5-4   True
29       25/6-1  False
30       25/6-2   True
31       25/6-3  False
32       25/7-2  False
33     25/8-5 S  False
34       25/8-7  False
35       25/9-1  False
36       26/4-1  False
37       29/6-1  False
38       30/3-3  False
39     30/3-5 S  False
40       30/6-5  False
41       31/2-1  False
42    31/2-19 S   True
43       31/2-7  False
44       31/2-8  False
45       31/2-9  False
46       31/3-1  False
47       31/3-2  False
48       31/3-3  False
49       31/3-4   True
50      31/4-10   True
51       31/4-5  False
52     31/5-4 S  False
53       31/6-5  False
54       31/6-8  False
55       32/2-1  False
56       33/5-2   True
57     33/6-3 S  False
58       33/9-1  False
59      33/9-17  False
60     34/10-19  False
61     34/10-21  False
62     34/10-33  False
63     34/10-35  False
64      34/11-1   True
65    34/11-2 S  False
66      34/12-1  False
67       34/2-4  False
68     34/3-1 A  False
69    34/4-10 R  False
70     34/5-1 A  False
71     34/5-1 S  False
72      34/7-13  False
73      34/7-20  False
74      34/7-21  False
75       34/8-1  False
76       34/8-3  False
77     34/8-7 R  False
78      35/11-1  False
79     35/11-10  False
80     35/11-11  False
81     35/11-12   True
82     35/11-13  False
83   35/11-15 S  False
84      35/11-6  False
85      35/11-7  False
86      35/12-1  False
87     35/3-7 S  False
88       35/4-1  False
89       35/8-4   True
90     35/8-6 S  False
91    35/9-10 S  False
92       35/9-2  False
93       35/9-5  False
94     35/9-6 S  False
95       36/7-3  False
96        7/1-1  False
97      7/1-2 S   True

In [ ]:
well_datacount['DRHO'].any()

In [ ]:
Moving average per 30 cm
Check
Rock quality log -- continuous
R

In [48]:
well[well['WELL'].isin(['33/9-17', '35/11-11', '31/2-19 S','35/12-1', '25/2-7', '25/4-5', '15/9-5', '16/4-1'])]

Empty DataFrame
Columns: [WELL, DEPTH, CALI, RSHA, RMED, RDEP, RXO, GR, NPHI, PEF, RHOB, SP, BS, DRHO, DTC, DTS]
Index: []